<!-- ##### Blog Wrapper Start ##### -->
<div >
  <div class="blog-wrapper section-padding-100-0 clearfix">
    <div class="container" >
      <!-- Single Blog Area  -->


      <div class="row">
        <!-- Single Blog Area  -->
        <div class="col-12 col-md-6 col-lg-3 idcarre" >
          <div class="single-blog-area blog-style-2 mb-100">
            <div class="single-blog-thumbnail">
              <img src="assets/img/blog-img/Siege01.jpg" alt="">
            </div>
            <!-- Blog Content -->
            <div class="single-blog-content mt-50" >

              <h4 style="text-align: center;"><a href="#" class="post-headline" >L'ENTREPRISE</a></h4>
              <p style="text-align: center;">Surveillance par Agent(e)s Cynophile - Agent(e)s de sécurité qualifié(e) - Agent(e)s d'accueil - Agent(e)s de quai - Agent(e)s Video Surveillance - Agent(e)s mobile (Rondier)</p>

            </div>
          </div>
        </div>
        <!-- Single Blog Area  -->
        <div class="col-12 col-md-6 col-lg-3 idcarre" >
          <div class="single-blog-area blog-style-2 mb-100" >
            <div class="single-blog-thumbnail">
              <img src="assets/img/blog-img/magasin.jpg" alt="">

            </div>
            <!-- Blog Content -->
            <div class="single-blog-content mt-50">

              <h4><a href="#" class="post-headline"> NOS SERVICES</a></h4>
              <p>Agent arrière caisse - Agent de Surveillance en magasin - Agent inspecteur de magasin (Prévention vol) - Agent de surveillance Parking - Agent de Video surveillance - Agent SSIAP 1, 2, 3 (incendie)</p>

            </div>
          </div>
        </div>
        <!-- Single Blog Area  -->
        <div class="col-12 col-md-6 col-lg-3 idcarre" >
          <div class="single-blog-area blog-style-2 mb-100">
            <div class="single-blog-thumbnail">
              <img src="assets/img/blog-img/evenementiel.jpg" alt="">

            </div>
            <!-- Blog Content -->
            <div class="single-blog-content mt-50 idcarre" >

              <h4><a href="#" class="post-headline">NOS ACTIVITES</a></h4>
              <p>Gestion des entrées et sortie, Agent d’Accueil, Protection des personnes, de la foule, Agent de Sécurité et Maître Chien, Protection de la caisse.</p>

            </div>
          </div>
        </div>

        <!-- Single Blog Area  -->
        <div class="col-12 col-md-6 col-lg-3 idcarre">
          <div class="single-blog-area blog-style-2 mb-100">
            <div class="single-blog-thumbnail">
              <img src="assets/img/blog-img/image1.jpg" alt="">

            </div>
            <!-- Blog Content -->
            <div class="single-blog-content mt-50">

              <h4><a href="#" class="post-headline">GALERIE</a></h4>
              <p>INCENDIE Agent de sécurité incendie niveau 1, 2 ou 3 (SSIAP)</p>

            </div>
          </div>
        </div>
        <!-- Single Blog Area  -->
        <div class="col-12 col-md-6 col-lg-3 idcarre" >
          <div class="single-blog-area blog-style-2 mb-100">
            <div class="single-blog-thumbnail">
              <img src="assets/img/blog-img/Entretien_04.jpg" alt="">

            </div>
            <!-- Blog Content -->
            <div class="single-blog-content mt-50" >

              <h4><a href="#" class="post-headline">EMPLOI</a></h4>
              <p>Demande de devis Demande de renseignement Offres d'Emlpois </p>

            </div>
          </div>
        </div>
        <!-- Single Blog Area  -->
        <div class="col-12 col-md-6 col-lg-3 idcarre" >
          <div class="single-blog-area blog-style-2 mb-100">
            <div class="single-blog-thumbnail">
              <img src="assets/img/blog-img/P_secu_11.jpg" alt="">

            </div>
            <!-- Blog Content -->
            <div class="single-blog-content mt-50">

              <h4><a href="#" class="post-headline">FORMATION</a></h4>
              <p>Facturation adaptée à vos besoins </p>

            </div>
          </div>
        </div>

        <!-- Single Blog Area  -->
        <div class="col-12 col-md-6 col-lg-3 idcarre" >
          <div class="single-blog-area blog-style-2 mb-100">
            <div class="single-blog-thumbnail">
              <img src="assets/img/blog-img/Apen-Im_09.jpg" alt="">

            </div>
            <!-- Blog Content -->
            <div class="single-blog-content mt-50">

              <h4><a href="#" class="post-headline">ENGAGEMENT APEN</a></h4>
              <p>Recrutement permanent d'agents de sécurité (CQP, SSIAP1,2), d'agents cyno, en CDI avec une rémunération conventionnelle </p>

            </div>
          </div>
        </div>
        <!-- Single Blog Area  -->
        <div class="col-12 col-md-6 col-lg-3 idcarre" >
          <div class="single-blog-area blog-style-2 mb-100">
            <div class="single-blog-thumbnail">
              <img src="assets/img/blog-img/image2.jpg" alt="">

            </div>
            <!-- Blog Content -->
            <div class="single-blog-content mt-50">

              <h4><a href="#" class="post-headline">TECHNOLOGIES et EQUIPEMENT</a></h4>
              <p>Une formation adaptée confirme le maintien de l'emploi et des compétences de nos agents, et la qualité des prestations fournies. </p>

            </div>
          </div>
        </div>

      </div>


    </div>
    <!-- ##### Blog Wrapper End ##### -->


  </div>
</div>
